<<<<<<< HEAD
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-600 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }

/* FONTES ACIMA /\ */

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
height: 100%;
width: 100%;
display: flex;
position: absolute;
overflow-y: hidden;
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover{
    background: #eee;
}

nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}

.logout{
    position: absolute;
    bottom: 0;
}

/*  INICIO DA HOME */
@media (max-width: 600px){
=======


/*  INICIO DA HOME */
/* @media (max-width: 600px){
>>>>>>> d857c7dce65739f3563ce158804c404b59e4d0be
    .welcome{
        width: 100%;
    }
    .grafico1, .grafico2{
        width: 100%;
    }
<<<<<<< HEAD
}
.container{
    background: #161a1e;   
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.titulo-dashboard{
    background-color: #f1d76e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
    height: 10vh;
}
.graficos{
    height: 90vh;
    width: 100%;
    display: flex;
}
.block1{
    height: 80%;
    width: 40%;
=======
} */


.grafico1 {
    width: 70%;
}
.block1{
    margin-top: 1%;
    height: 80%;
    width: 50%;
>>>>>>> d857c7dce65739f3563ce158804c404b59e4d0be
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

<<<<<<< HEAD
}
.chart1{
    height: 60%;
    width: 70%;
=======

}
.chart1{
    height: 50%;
    width: 60%;
>>>>>>> d857c7dce65739f3563ce158804c404b59e4d0be
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-top: 15%;
<<<<<<< HEAD
=======
    border-radius: 10px 10px 0 0;
    box-shadow: #d8ae5e 7px 7px 7px ;
>>>>>>> d857c7dce65739f3563ce158804c404b59e4d0be
}
.titulo-grafico1{
    height: 20%;
    font-size: 30px;
    margin-top: 20px;
}
.fast-food{
<<<<<<< HEAD
    height: 50%;
    width: 70%;
=======
    height: 40%;
    width: 60%;
>>>>>>> d857c7dce65739f3563ce158804c404b59e4d0be
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    margin-left: 30%;
<<<<<<< HEAD
=======
    border-radius: 0 0 10px 10px;
    box-shadow: #d8ae5e 7px 7px 7px;
>>>>>>> d857c7dce65739f3563ce158804c404b59e4d0be
}
.mc{
    background-color: #eee;
    height: 25%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.bk{
    background-color: #eee;
    height: 25%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.bob{
    background-color: #eee;
    height: 25%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.jeronimo{
    background-color: #eee;
    height: 25%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
img{
<<<<<<< HEAD
    height: 80%;
}
.block2{
    height: 100%;
    width: 60%;
=======
    height: 60%;
}
.block2{
    margin-top: 30px;
    margin-left: 5%;
    height: 90%;
    width: 50%;
>>>>>>> d857c7dce65739f3563ce158804c404b59e4d0be
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.chart2{
<<<<<<< HEAD
    height: 45%;
=======
    height: 40%;
>>>>>>> d857c7dce65739f3563ce158804c404b59e4d0be
    width: 70%;
    margin-left: 10%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
=======
    border-radius: 10px;
    box-shadow: #d8ae5e 7px 7px 7px;
>>>>>>> d857c7dce65739f3563ce158804c404b59e4d0be
}
.titulo-grafico2{
    height: 20%;
    font-size: 30px;
    margin-top: 20px; 
}
.lineGraph{
    display:   flex ;
<<<<<<< HEAD
    height: 30vh
    ;
}
.chart3{
    height: 45%;
    width: 60%;
=======
    height: 100%;
}
.chart3{
    height: 45%;
    width: 70%;
>>>>>>> d857c7dce65739f3563ce158804c404b59e4d0be
    margin-left: 10%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
=======
    border-radius: 10px;
    box-shadow: #d8ae5e 7px 7px 7px;
>>>>>>> d857c7dce65739f3563ce158804c404b59e4d0be
}
.titulo-grafico3{
    height: 20%;
    font-size: 30px;
    margin-top: 20px; 
}
.barGraph{
    display:   flex ;
<<<<<<< HEAD
    height: 25vh
    ;
}
=======
    height: 100%;
}


/* resposividade */



@media (max-width: 1300px){

    .grafico1 {
        width: 250px;
    }

}

@media (max-width: 690px) {

    .titulo-dashboard {
        font-family: 'poppins';
        padding-left: 20%;
    }

    body {
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #161a1e;
    }

    .container {
        height: 100%;
    }
    /* configuração do 1° Gráfico */



    .graficos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120%;
    }



    .block1 {
        margin-top: 50px;
        width: 300px;
        height: 500px;
        border-radius: 20px;
        display: flex;

    }
    .chart1 {
        width: 100%;
        height: 250px;
        border-radius: 20px 20px 0 0;
        margin-left: 0;
        margin-top: 0;
    }

    .grafico1 {
        width: 200px;
        height: auto;

    }

    .fast-food {
        border-radius: 0 0 20px 20px;
        padding-top: 100px;
        width: 100%;
        margin-left: 0;
    }

    .mc, .bk, .jeronimo, .bob {
        width: 50px;
        height: auto;
        margin: 5px;

    }
    img {
        width: 50px;
    }

    .titulo-grafico1 {
        font-size: 1rem
    }

    /* Configuração do 2° gráfico */

    .block2 {
        margin-top: 50px;
        width: 50%;
        height: auto;
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        margin-left: 0;
    }

    .chart2 {
        border-radius: 20px;
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
        height: 250px;
    }

    .titulo-grafico2 {
        font-size: 1rem;
    }

    .lineGraph {
        height: 100%;
    }

    /* configuração do 3° gráfico */

    .chart3 {
        width: 100%;
        height: 250px;
        margin-left: 0;
        border-radius: 20px;
        margin-bottom: 50px;
    }

    .titulo-grafico3{
        font-size: 1rem;
    }



    .barGraph {
        padding-bottom: 20px;
        width: 100%;
    }


    /* configuração da barra superior */

    .titulo-dashboard {
        font-size: 2rem;
        font-family: 'poppins';
    }
}
>>>>>>> d857c7dce65739f3563ce158804c404b59e4d0be
